/* Importar fuentes */
@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}


@font-face {
    font-family: 'PMarker';
    src: url('../assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf') format('truetype');
}

/* Estilos generales */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f8f8;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
}

/* Navegación */
header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra para resaltar la barra */
}

nav {
    background-color: #ffffff;
    padding: 20px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%; 
}

.logo {
    height: 70px;
    width: auto;
    display: flex;
    justify-content: left;
    padding-left: 100px;
}

.branding {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.name {
    font-family: 'PMarker', sans-serif;
    font-size: 30px;
    color: #000000;
    font-weight: normal;
}

.subtitle {
    font-size: 14px;
    color: #8b8b8b;
}

.separator {
    font-size: 20px;
    color: #8b8b8b;
    margin-bottom: 3px;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #000000;
}

nav ul li a.active {
    color: #000000;
}

.right-links {
    margin-left: auto; 
    display: flex;
    gap: 20px;
    padding-right: 100px;
}

.right-links a {
    color: #8b8b8b;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.right-links a:hover {
    font-weight: normal;
}


/* preheader */
.preheader {
    position: relative;
    text-align: left; 
}

.preheader h1, .preheader h2 {
    position: absolute;
    left: 20px; 
    color: #ffffff;
    font-weight: bold;
    margin-left: 50px;
}

.preheader h1 {
    font-size: 80px;
    font-family: Calibri, sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    top: 60%; 
}

.preheader h2 {
    font-size: 60px;
    font-family: Calibri, sans-serif;
    font-weight: lighter; 
    margin-bottom: 5px;
    top: 54%;
}

.preheader img {
    max-width: 100%;
    height: auto;
}

/* Intro */
.main-title {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: medium;
    color: #1a1a1a;
    text-align: center;
}

.main-title h1 {
    margin-top: 40px;
}

.intro {
    margin-left: 20px;
    margin-bottom: 80px;

    /* dos columnas: una para el texto y otra para el video */
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 20px;             
    align-items: start;   
}

/* Contenedor que agrupa el texto */
.intro-text {
    display: flex;
    flex-direction: column;  
    gap: 2px;    
    margin-left: 200px;          
}

.intro-text h2 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #1a1a1a;
    margin-top: 100px;
}

.intro-text h3 {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #1a1a1a;
}

.intro-text img {
    width: 50px;
    height: auto;
}

.intro img.setup{
    max-width: 500px; /* o el tamaño que prefieras */
    height: auto;
    margin-right: 250px;
}

/* Content */
.content {
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    text-align: center; 
    width: 100%; 
    margin: 0 auto;
}

.text-container {
    padding-left: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #1a1a1a;
}

.text-container h3{
    font-size: 16px;
    color: #7a7a7a;
}

.video-container {
    margin-top: 50px;
    flex: 1; 
    max-width: 100%;
    display: flex;
    justify-content: center; 
}

.video-container iframe {
    width: 854px;
    height: 480px;
    max-width: 100%;
}

/* Gesture Drawings */
.gdrawings {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.gdrawings h2{
    font-size: 36px;
    color: #1a1a1a;
}

.gallery {
    display: flex;
    gap: 100px;
}

.thumbnails {
    width: 300px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.thumbnails:hover {
    transform: scale(1.2);
}

/* Estilos del modal */
.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.modal-content {
    max-width: 90%;
    max-height: 90%;
    display: block;
}

/* Botón de cerrar */
.close {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

/* Botones de navegación */
.prev, .next {
    position: absolute;
    top: 50%;
    font-size: 50px;
    color: white;
    cursor: pointer;
    user-select: none;
    transform: translateY(-50%);
    padding: 10px;
}

.prev { left: 20px; }
.next { right: 20px; }

.prev:hover, .next:hover {
    color: #ddd;
}

/*Pass Ball*/
.pass-ball {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;  
    margin-top: 40px;    
}

.pass-ball h2 {
    margin-top: 50px;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    color: #1a1a1a;
}

.pass-ball h2 .bold {
    font-weight: bold;
}

/* About Section */
.about {
    margin-top: 100px;
    margin-right: auto; 
    margin-left: auto;
    max-width: 600px;
    text-align: center;
}

.about h2 {
    font-size: 36px;
    color: #1a1a1a;
    font-weight: bold;
}

.about p {
    font-size: 18px;
    max-width: 600px;
    line-height: 1.6;
}

/* RRSS */
.rrss {
    margin-top: 80px;
    margin-left: 100px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}

.rrss h3 {
    font-weight: normal;
    font-size: 12px;
}

.social-icons {
    margin-right: 100px;
    display: flex;
    gap: 10px; 
}

.social-icons a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; /* Ajusta el tamaño del fondo */
    height: 40px;
    background-color: #1a1a1a; /* Fondo oscuro */
    border-radius: 50%; /* Para que sea un círculo */
    transition: background-color 0.3s ease-in-out;
}

.social-icons a img {
    width: 24px; /* Ajustamos el tamaño del icono dentro */
    height: auto;
}

.social-icons a:hover {
    background-color: #616161; /* Cambio sutil al pasar el mouse */
}


/* Button */
#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 45px;
    height: 45px;
    background-color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, visibility 0.3s;
    padding: 0;
}

#scrollTopBtn img {
    width: 20px; /* Ajusta el tamaño del icono */
    height: auto;
}

#scrollTopBtn:hover {
    background-color: #f0f0f0;
}


